<!DOCTYPE html>
<html lang="ko">
    <!-- head -->
    <%- include('include/head.ejs') %>

    <body>
        <div class="wrapper">
            <!-- header -->
            <%- include('include/header.ejs') %>

            <div class="container">
                <div class="main-content">
                    <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>
                    <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>
                    <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>
                    <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>                <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>
                    <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>                <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>                <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>                <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>                <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>                <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>                <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>                <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>                <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>                <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>                <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>                <h1>부산외대 위키에 오신걸환영합니다.</h1>
                    <h5>해당사이트는 학교생활을하며 필요한 여러 잡다한 정보들을 제공합니다</h5>













                </div>
            </div>
            <!-- footer -->
            <%- include('include/footer.ejs') %>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>