html,body{
    height:100%;
    margin:0;
    padding:0;
    color:#dddddd;
}
h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
header {
    left:0;
    right:0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    background-color: #2d2f34;
    border-bottom: 1px solid #383840;
}
.nav{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav>ul{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.nav>li{
    float: left;
    padding: 0;

}
.nav>li>a{
    display: block;

    padding:.6rem .7rem .6rem;

    font-size: 1.1rem;
    color:#dddddd;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.nav>li:hover > a{
    background-color: #383b40;
}
.container{
    height: auto;
    text-align: center;
}
.main_content{
    width: 700px;
    margin: 0 auto;
    background-color: #1f2023;
}

footer{
    display: block;
    margin:0 auto;
    padding:1rem;
    text-align: center;
    background-color: #1f2023;
    border-top: 1px solid #383840;
}
.footer_div1{

    color:#fff!important;
}
.footer_div1>p>a{
    color:olivedrab;
    text-decoration: none;
}
.footer_div1>p>a:hover{
    text-decoration: underline;
}
.seperate_line{
    margin:0.5rem;
    color:#aaa;
}