<header>
        <nav>
            <ul class="nav">
                <li><a href="/">메인</a></li>
                <li><a href="/wiki">위키</a></li>
                <li><a href="/board?list=1">게시판</a></li>
            </ul>
        </nav>
</header>