<!DOCTYPE html>
<html lang="ko">
    <head>
        <title><%=title%></title>
        <%- include('../include/head.ejs') %>
    </head>
    <body>
        <%- include('../include/header.ejs') %>
        <div class="container">
            <article class="main_content">
                dd
            </article>
        </div>
        <%- include('../include/footer.ejs') %>
    </body>
</html>